<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Bootstrap -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	     <!-- Add Font Awesome -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	    <!-- Add unique stylesheet -->
	    <link rel="stylesheet" href="/static/css/listmaker_style.css" type="text/css" />

	    <!-- Add Google Web Fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Libre+Franklin:300,400,500,600,700" rel="stylesheet">

	    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

	    <!-- Add jQuery -->
	    <script src="https://code.jquery.com/jquery.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	    <script>
		  $( function() {
		    $( document ).tooltip();
		  } );
		</script>

	   

		<title>Santa's List</title>
	</head>

	<body>

		<div class="container home">      
	        <div class="jumbotron">
	            <h1 class="">Santa's List</h1>
	            <h2 class="">Make a list, check it twice. We will find out.</h2>
	        </div>

	        <div>
	        	{{{ body }}}
	        </div>
	    </div>

	    <footer class="footer">
	    	<div align="center" id="credits">
	        <p>&copy; 2016  <strong><a href="https://www.linkedin.com/in/ideabrothers">Andrew Carr</a></strong> | 
	        Demo project for <a href="https://www.codingbootcamputaustin.com/">The Coding Boot Camp</a>  at UT Austin Center for Professional Education
 			| 
	        <a href="https://github.com/carrat/listMaker"  target="_blank">GitHub Repo</a>
	        </p>
	        </div>
	    </footer>
		
	</body>
</HTML>
